{% load static %}
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
      <!-- Google Fots -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
      <!-- Remixicon Icon -->
      <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
      <!-- Remixicon Icon -->
      <!-- Bootstrap CSS -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <!-- Main CSS -->
      <link href="{% static 'css/main.css' %}" rel="stylesheet">


    <title>Алексей Крутиков - Python developer</title>

      <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
           (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
           m[i].l=1*new Date();
           for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
           k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
           (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

           ym(91257917, "init", {
                clickmap:true,
                trackLinks:true,
                accurateTrackBounce:true,
                webvisor:true
           });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/91257917" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->

  </head>
  <body>
   
    <!-- header -->
    <header class="ds-header" id="site-header">
        <div class="container">
            <div class="ds-header-inner">
              <!-- logo -->
              <a href="{% url 'index' %}" class="ds-logo">
                <span>А</span>Алексей Крутиков (Python developer)
              </a>
              <!-- logo -->
              <!-- social -->
              <ul class="ds-social">
                <li><a href="https://github.com/avdivo" target="_blank"><i class="ri-github-fill"></i></a></li>
                <li><a href="http://www.linkedin.com/in/avdivo" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
              </ul>
              <!-- social -->
            </div>
        </div>
    </header>
    <!-- header -->

   <!--  Work -->
    <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br>
   <div class="ds-work-section">
     <div class="container">
          <h2 class="ds-heading">Мои проекты</h2>
          <div class="ds-work-list-section">

            <div class="ds-work-list">
              <div class="row">
                  <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                      <section>
                          <h3 class="ds-work-tilte">Где вы сейчас находитесь?</h3>
                          <p>Этот проект построен на основе микросервисов. В нем я рассказываю о себе и своих проектах.</p>
                          <p>Тут можно скачать актуальную версию резюме, посмотреть мои проекты и найти контактную информацию.
                              Я дополняю сайт новыми фишками и материалами по мере возможностей.
                                Выкладываю сюда свои новые работы.</p>
                          <p>Предлагаю ознакомиться и пригласить меня на работу.</p>
                          <p>Все это богатство живет на виртуальном VPS сервере под управлением Ubuntu.
                                Каждое приложение (сайт) находится в своем Docker контейнере, а управление трафиком
                                возложено на обратный прокси-сервер Nginx.</p>
                          <a href="#banner" class="ds-button" id="exit">Обо мне</a>
                          <a href="{% static 'Алексей Крутиков python_dev.pdf' %}" download="" class="ds-button">Скачать резюме</a>
                      </section>
                  </div>
                  <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5"><br>
                      <figure><img src="{% static 'img/this_1.png' %}"><img src="{% static 'img/this_2.png' %}">
                      <img src="{% static 'img/this_3.png' %}"></figure>
                  </div>
              </div>
            </div>

            <a href="#comment">
            <div class="alert alert-danger" role="alert">
                Оставьте комментарий!<br>
                Если вы специалист, Recruter, HR - уделите пару минут, мне очень важно ваше мнение!
                Что так или не так с моим резюме, сайтом. Чем вас не устраивает моя кандидатура.
                Отзывы анонимные, напишите правду.
            </div>
            </a>

            <!--  Shop -->
            <div class="ds-work-list">
              <div class="row">
                  <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                      <section>
                          <h3 class="ds-work-tilte">Интернет-магазин мыла и SPA-продуктов</h3>
                          <p>Коммерческий проект. Был написан в соответствии с требованиями заказчика.
                          Магазин успешно работает. Рассматривается возможность расширения функционала.</p>
                          <p>Проект написан с использованием фреймворка Django. Все работы по фронт и бэкенду
                          выполнены самостоятельно. Развернут на виртуальном сервере Ubuntu, также самостоятельно.</p>
                          <a href="https://green-soap.ru/" target="_blank" class="ds-button">Открыть</a>
                          <a href="https://github.com/avdivo/shop_soap" target="_blank" class="ds-button">Посмотреть на GitHub</a>
                      </section>
                  </div>
                  <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5"><br>
                      <figure><img src="{% static 'img/p1_1.png' %}"><img src="{% static 'img/p1_2.png' %}"></figure>
                  </div>
                    <ul class="ds-skills-list">
                        <li>Python</li>
                        <li>Django</li>
                        <li>PostgreSQL</li>
                        <li>HTML</li>
                        <li>JavaScript</li>
                        <li>CSS</li>
                        <li>jQuery</li>
                        <li>JSON</li>
                        <li>AJAX</li>
                        <li>ООП</li>
                        <li>Git</li>
                        <li>PyCharm</li>
                        <li>Ubuntu</li>
                    </ul>
              </div>
            </div>
            <!--  Shop -->

            <!--  5letters -->
            <div class="ds-work-list">
              <div class="row">
                  <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                      <section>
                          <h3 class="ds-work-tilte">5letters - Подбор слова из 5 букв</h3>
                          <p>Программа создана специально для помощи в известной игре "5 букв". С мая 2022 года на сайте
                              Тинькофф можно получить бонусы за угадывание слов в этой игре
                              <a href="https://5bukv.tinkoff.ru/">5bukv.tinkoff.ru</a>
                              Также в игру можно поиграть  <a href="https://wordlegame.org/ru/5-letter-words-wordle">
                                  тут</a> .</p>
                          <p>Этот сервис уже успел найти свою, пока небольшую, но постоянную аудиторию. По данным Яндекс
                          метрики люди постоянно используют его для помощи в игре, находят через поисковик и заходят
                          по прямым ссылкам.</p>
                          <p>В отличие от большинства сервисов для подбора слов и помощников кроссвордистов,
                              в этой программе есть возможность использовать фильтры, специально подобранные
                              под правила игры, а также некоторые дополнительные возможности,
                              облегчающие поиск слова.</p>
                          <a href="https://avdivo.ru/5letters/" target="_blank" class="ds-button">Открыть</a>
                          <a href="https://github.com/avdivo/word_choice_server" target="_blank" class="ds-button">Посмотреть на GitHub</a>
                      </section>
                  </div>
                  <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5"><br>
                      <figure><img src="{% static 'img/p2_1.png' %}"><img src="{% static 'img/p2_2.png' %}">
                                <img src="{% static 'img/p2_3.png' %}"></figure>
                  </div>
                    <ul class="ds-skills-list">
                        <li>Python</li>
                        <li>FastApi</li>
                        <li>Redis</li>
                        <li>HTML</li>
                        <li>JavaScript</li>
                        <li>CSS</li>
                        <li>jQuery</li>
                        <li>JSON</li>
                        <li>AJAX</li>
                        <li>ООП</li>
                        <li>Docker</li>
                        <li>Docker-compose</li>
                        <li>Git</li>
                        <li>PyCharm</li>
                        <li>Ubuntu</li>
                    </ul>
              </div>
            </div>
            <!--  5letters -->

            <!--  Chat -->
            <div class="ds-work-list">
              <div class="row">
                  <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                      <section>
                          <h3 class="ds-work-tilte">Чат</h3>
                          <p>Это вообще-то тестовое задание. Но я все еще ищу работу, а значит, оно не вполне
                          отвечало требованиям работодателя. Тем не менее это был интересный опыт, в котором я
                          использовал некоторые технологии, с которыми раньше не работал.</p>
                          <p>Вы можете попробовать его в работе, для этого нужно войти в чат под открытым пользователем:
                          elena (пароль: abcd4321), alex (пароль: 1). Можно создать новую комнату или писать в имеющейся.
                          </p>
                          <a href="https://avdivo.ru/chat/" target="_blank" class="ds-button">Открыть</a>
                          <a href="https://github.com/avdivo/chat_django_websocket" target="_blank" class="ds-button">Посмотреть на GitHub</a>
                      </section>
                  </div>
                  <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5"><br>
                      <figure><img src="{% static 'img/p3_1.png' %}"><img src="{% static 'img/p3_2.png' %}"></figure>
                  </div>
                    <ul class="ds-skills-list">
                        <li>Python</li>
                        <li>Django</li>
                        <li>Redis</li>
                        <li>Celery</li>
                        <li>HTML</li>
                        <li>JavaScript</li>
                        <li>CSS</li>
                        <li>jQuery</li>
                        <li>JSON</li>
                        <li>AJAX</li>
                        <li>ООП</li>
                        <li>Docker</li>
                        <li>Docker-compose</li>
                        <li>Git</li>
                        <li>PyCharm</li>
                        <li>Ubuntu</li>
                    </ul>
              </div>
            </div>
            <!--  Chat -->

            <!--  Happy New Year -->
            <div class="ds-work-list">
              <div class="row">
                  <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                      <section>
                          <h3 class="ds-work-tilte">Happy New Year</h3>
                          <p>Маленький сервис новогодних поздравлений и предсказаний.</p>
                          <p>Обратил внимание, что послать новогоднюю открытку знакомым проблематично без всевозможных
                          регистраий и установки приложений. Поэтому набросал эту простенькую программку. Тут все просто:
                          <br>написал поздравление, получил ссылку на него в буфер обмена, отправил ссылку адресату.
                          Как бонус, можно выбрать подарок под елкой и получить предсказание.</p>
                          <a href="https://avdivo.ru/hny/" target="_blank" class="ds-button">Открыть</a>
                          <a href="https://github.com/avdivo/happy_new_year" target="_blank" class="ds-button">Посмотреть на GitHub</a>
                      </section>
                  </div>
                  <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5"><br>
                      <figure><img src="{% static 'img/p4_1.png' %}"></figure><br>
                      <figure><img src="{% static 'img/p4_2.png' %}"></figure>
                  </div>
                    <ul class="ds-skills-list">
                        <li>Python</li>
                        <li>Django</li>
                        <li>HTML</li>
                        <li>JavaScript</li>
                        <li>CSS</li>
                        <li>jQuery</li>
                        <li>JSON</li>
                        <li>AJAX</li>
                        <li>ООП</li>
                        <li>Docker</li>
                        <li>Docker-compose</li>
                        <li>Git</li>
                        <li>PyCharm</li>
                        <li>Ubuntu</li>
                    </ul>
              </div>
            </div>
            <!--  Chat -->

          </div>
     </div>
   </div>
   <!--  Work -->



    <!-- banner -->
    <div class="ds-banner" id="banner">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
            <figure>
              <img src="{% static 'img/profile-image.jpg' %}">
            </figure>
          </div>
          <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
            <section>
                <h1>
                  <span>ВСЕМ ПРИВЕТ</span>
                </h1>
                <h2>
                Я - Алексей Крутиков,
                </h2>
                <h2>
                PYTHON-DEVELOPER.
                </h2>
                <p></p>
                <h3>Перспективный новичок в IT бизнесе,<br> но не в программировании.</h3>
                <p><br></p>
                <h4 style="text-align:justify;">Если вам нужен выгодный специалист, увлеченный своей работой, с быстрым входом,
                    уверенными навыками и подходящими софт-скилами, прошу обратить на меня внимание.</h4>
<!--                <ul class="ds-numbervalulist">-->
<!--                  <li>-->
<!--                    <strong>2</strong>-->
<!--                    <span>Фриланс</span>-->
<!--                  </li>-->
<!--                  <li>-->
<!--                    <strong>>3</strong>-->
<!--                    <span>Проектов</span>-->
<!--                  </li>-->
<!--                </ul>-->
            </section>
          </div>
        </div>
      </div>
    </div>
    <!-- banner -->

    <!-- hard skills -->
    <div class="ds-about-section">
      <div class="container">
        <section>
            <h2 class="ds-heading">НАВЫКИ</h2>
            <p>Я понимаю, что звучит это как рекламная компания, а реклама часто лукавит. Но я не люблю врать,
                и это легко проверить. Мои слова можно подтвердить проектами и наработками,
                развитым профилем в Linkedin, этим сайтом да и в простом общении.</p>
            <p>Вы часто встречаете человека, который тратит значительную часть своего времени на занятие,
                которое ему не нравится, которое не приносит доход и которого от него никто не требует?
                Я именно такой человек, когда дело касается программирования!
                Вам же нужен сотрудник, который любит свою работу и готов прилагать максимум усилий,
                чтобы делать ее хорошо?</p>
            <p>Я всегда увлекался программированием и все свои потребности в автоматизации процессов решал
                самостоятельно. Можно сказать, что я программировал всегда, только это было не коммерческое
                программирование.</p>
            <p>Учился я сам, поэтому привык пользоваться документацией и поиском.
                Способен самостоятельно решать поставленные задачи.</p>

                <ul>
                    <li>умею и люблю писать код (backend, не растеряюсь и с frontend),</li>
                    <li>искать и исправлять баги,</li>
                    <li>подготовить сервер (Linux),</li>
                    <li>вывести приложение в продакшн (в том числе и в Docker),</li>
                    <li>использую в работе GIT,</li>
                    <li>обожаю изучать новые технологии и применять их,</li>
                    <li>самостоятельно проектирую свои проекты,</li>
                    <li>пишу сопроводительную документацию.</li>
                </ul>

            <p>Тем не менее, я знаю, что я ничего не знаю... я готов много работать и учиться.
                Понимаю, что реальные задачи потребуют дополнительных знаний, навыков, времени...
                И я должен соответствовать</p>
            <p>Чтобы никого не вводить в заблуждение, скажу сразу: мне 47 лет. При этом я открыт всему новому,
                легко взаимодействую с людьми. Готов показать и рассказать обо всех своих проектах.
                У меня хороший опыт работы с компьютерами и с людьми. И те и другие довольны моей работой.
                Умею общаться с клиентами, делаю свою работу качественно, ответственно подхожу к делу: отзывы и
                оценки моих клиентов - лучшее тому доказательство.
            </p>
        </section>
      </div>
    </div>
    <!-- hard skills -->

    <!--  Skills -->
    <div class="ds-skills-section">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
             <h2 class="ds-heading">Основные скилы</h2>
             <ul class="ds-skills-list">
               <li>Python</li>
               <li>Django</li>
               <li>FastApi</li>
               <li>DRF</li>
               <li>Redis</li>
               <li>Celery</li>
               <li>PostgreSQL</li>
               <li>MySQL</li>
               <li>HTML</li>
               <li>JavaScript</li>
               <li>CSS</li>
               <li>jQuery</li>
               <li>JSON</li>
               <li>AJAX</li>
               <li>ООП</li>
             </ul>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <h2 class="ds-heading">Дополнительно</h2>
            <ul class="ds-skills-list">
              <li>Docker</li>
              <li>Docker-compose</li>
              <li>Git</li>
              <li>PyCharm</li>
              <li>Linux</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!--  Skills -->

    <div class="ds-button-sec text-center">
        <a href="{% static 'Алексей Крутиков python_dev.pdf' %}" download="" class="ds-button">Скачать резюме</a>
    </div>

    <!-- soft skills -->
    <div class="ds-about-section">
      <div class="container">
        <section>
            <h2 class="ds-heading">Soft skills</h2>
            <p>Я уже более 15 лет занимаюсь ремонтом компьютеров и ноутбуков. Аккуратность, точность,
                умение работать с документацией и поиском, способность к самообучению в этой работе
                не менее важны чем в программировании.</p>
            <p>У меня было много клиентов и много различных ситуаций. Но положительные оценки и отзывы
                о моей компании в google (я пишу про ту площадку, где результаты нельзя подтасовать)
                скажут больше моих слов. Умение общаться с клиентами, находить компромиссы,
                делать их довольными результатом - это тоже часть моей работы.</p>
            <p> Большую часть времени я работаю самостоятельно, сам веду бизнес. Понятно, что без таких
                качеств как ответственность, умение достигать поставленных целей, коммуникабельность тут не обойтись.</p>
        </section>

          <div class="alert alert-danger" role="alert" id="comment">
            Оставьте комментарий!<br>
            Если вы специалист, Recruter, HR - уделите пару минут, мне очень важно ваше мнение!
            Что так или не так с моим резюме, сайтом. Чем вас не устраивает моя кандидатура.
            Отзывы анонимные, напишите правду.

              <!-- Форма для отправки текста сообщения -->
                <form action="{% url 'save_mess' %}" method="post" id="form_save_mess">
                    {% csrf_token %}
                    <br>
                    <textarea class="form_text" id="message" name="message"></textarea>
                </form>
                <div class="ds-button-sec text-center">
                    <button class="ds-button" id="send">Отправить</button>
                </div>


          </div>

      </div>
    </div>
    <!-- soft skills -->

   <!-- Experience -->
    <!-- Experience -->


   <!--  footer -->
   <footer class="ds-footer text-center">
     <div class="container">
        <section>
          <span>г. Санкт-Петербург, гражданство Республики Беларусь, готов к переезду</span>
          <h4>Готовы связаться прямо сейчас?</h4>
          <p>Воспользуйтесь любым удобным способом</p>
          <a href="mailto:avdivo@mail.ru" target="_blank" class="ds-button">E-mail: avdivo@mail.ru</a>
          <a href="https://t.me/avdivos/" target="_blank" class="ds-button">Telegram: @avdivos</a>
          <a href="http://www.linkedin.com/in/avdivo" target="_blank" class="ds-button">Linkedin: avdivo</a>
        </section>
        <span class="ds-copyright">© 2023 Avdivo</span>
     </div>
   </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>